
<style>

    input[type =submit]:hover{
        background-color: #b9005b; 
        color:white;
        box-shadow: 0px 0px 15px 7px #f1a7cc

    }
    input[type =submit]{
    /* background-color: #b9005b; */
    color:#b9005b;
    width:200px;
    font-weight: bold; 
    font-family: 'Brush Script MT', cursive;
    box-shadow: 0px 0px 15px 7px #e6e4e4
}


</style>


<div>
<form action="" class = >


    <input type="submit" value = PUBLICATIONS style="border-radius: 20px ; padding:8px ;border-color: #b9005b ">
</form>
</div>