{% extends "layout.html" %} {% block body %}
<div class="form-group d-flex">
  <input
    type="text"
    class="form-control rounded-left"
    placeholder="Publication Title"
    required
    name="tittle"
  />
</div>
<div class="form-group d-flex">
  <input
    type="text"
    class="form-control rounded-left"
    placeholder="Domain Subject"
    required
    name="subject"
  />
</div>
<div class="form-group d-flex">
  <textarea
    
    
    rows="4"
    cols="50"
    placeholder="about"
    name = "about"
  ></textarea>
</div>
<div class="form-group d-flex">
  <input
    type="file"
    class="form-control rounded-left"
    placeholder="Publication"
    required
    name="file"
  />
</div>


{% endblock %}
