*{
    padding: 0px;
    margin: 0px;
        /* background-color: blue; */

}

#title{
    margin-left: 2vh;
    color: rgb(0, 0, 144);
}

header{
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0px;
    width: 100%;
}

header nav{
    
    align-items: center;
    
    justify-content: center;
    display: flex;
    flex-direction: column;
    height: 10vh;
    
    /* display: inline; */
    margin: auto;
}

    

#search-box{
    font-size: 24px;
}

#links{
    display: flex;
    list-style: none;
}

#links li{
    margin: 0px 5px;
}

#links a{
    text-decoration: none;
}

#signin{
    float: right;
    margin: 10px;
    
    
    
}