*{
    font-family: sans-serif;
}
#main{
    margin-left: auto;
    margin-right: auto;
    margin-top: 20vh;
    width: 100vw;
    padding: 10px;
}
#content{
    background-color: #f8f8f8;
    box-shadow: 0px 0px 10px 2px rgb(205, 205, 205);
    margin: auto;
    padding: 20px;
    width: fit-content;
    display: flex;
    

}
#preview{

    height: fit-content;
    display: flex;
    flex-direction: column;
    /* background-color: red; */
}
#preview img{
    /* width: 100vh; */
    height: 70vh;
    width: auto;
}
#profile{
    display: flex;
    align-items: center;
    justify-content: right;
    margin:4vh 0px;
}
#profile h3{
    margin: 0px 5px;

}
#profile img{
    width: 4vh;
    border-radius: 100%;
}
    


#details{
    /* background-color: red; */
    margin: 10px;
    height: 70vh;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: right;
    /* align-items: flex-end; */

    

}


@media (max-width:100vh){
    #content{
        flex-direction: column;
    }
    #preview img{
        width : 80vw;
        height: auto;
    }
    #details{
        width: 80vw;
        height: auto;
    }
}


#cost{
    margin-left: 18%;
    margin-bottom: 6%;
}

#label-features{
    font-size: 18px;
    margin:  0px 5vw;

}

#rating{
    background-color: rgb(153, 255, 0);
    padding: 2px 10px;
    margin: 5%;

}

#buy-now{
    width: min-content;
    margin: auto;
}

#buy-now input{
    background-color: transparent;
    border-radius: 10px;
    padding: 7px;
    color: blue;
    border: 3px solid blue;
    margin: auto;
}


/* code for pdfviewer  */

#container{
    display: flex;
    justify-content: center;
    padding-top: 30px;
    background-color: var(--background);
    display: none;
    position: absolute;
    width: 100vw;
    height: 100vh;
    left: 0px;
    top: 0px;
    margin: 0px;
    

    
}

#container::-webkit-scrollbar {
    display: none;
    
  }
  
#allpages{
    width: 40%;
}

#fullscreen{
    display: none;
}

#zoom{
    position: fixed;
    bottom: 30px;
    right: 10px;
}

#goback{
    display: none;
    position: fixed;
    top: 10vh;
    left: 20px;
    /* z-index: 10; */
}