html{
    width: 100vw;
    margin: auto;
}
body{
    width: 100%;
    background-color: --background;
    
}
#allresults{
    display: grid;
    grid-template-columns: repeat(auto-fit , minmax(300px , 1fr));
    justify-content: center;
    align-items: center;
    margin: 5% 10%;
    
}

.tile{
    overflow: visible;
    /* color: red; */
}



#pagechange{
    position: absolute;
   
    width: 100%;
    /* top: 100px; */
    background-color: rgb(243, 243, 243);
    align-items: center;
    justify-content: center;
    
}

#pagechangebox{
    /* background-color: blue; */
    justify-content: center;
    align-items: center;

    padding: 15px;

    display: flex;
    flex-direction: row;

    /* padding: 10px;    */
    /* width: 500px;     */

}

.button{
    
    margin: 5px;
    padding: 5px 10px;
    

}

.page_change_form{
    display: inline;
}

.change_button{
    width: 100px;
    height: 20px;
}

#current_page{
    width: 25px;
    /* padding: 5px; */
}