{% extends "layout.html" %}
    
    {% block head %}
    <link rel="stylesheet" href="/static/css/mynotes.css">
    {% endblock %}

    {% block main %}
        <div id="allnotes">
            {% for item in data%}
            

                
                
                
                

                <div class="singlenote">

                    <form action="/noteviewer">
                        <input type="hidden" name="note" value="{{item[0]}}">
                        <input type="submit" class="submit_note" value =""  style="display: none;">
                    </form>
        
                    <div id="imagediv">
                        <img src="../static/thumpnails/{{item[0]}}.png" alt="image kanunilla" class="thumpnail">
                       
                    </div>
        
                    <div id="details">
        
                        <h3 id="title">{{item[1].upper()}}</h3>
                        <h4 class="text">{{ item[2] }}</h4>
        
                    </div>
        
        
                </div>
          
            {% endfor %}
        </div>
   

    <script>
        console.log("the code started")
        let elements = document.getElementsByClassName("singlenote");
        
        Array.from(elements).forEach((element, index) => {

            let submit_button = element.getElementsByClassName("submit_note")[0];
            console.log(submit_button , index);
            element.addEventListener('click', () => {
    
                console.log("clicked")
                submit_button.click()
    
            })
        })
    
    </script>

{% endblock %}
    



