{% extends "layout.html" %}

{% block head %}

<!-- <link rel="stylesheet" href="{{ url_for('static' , filename = 'preview.css') }}"> -->
<link rel="stylesheet" href="../static/css/preview.css">
{% endblock %}

{% block main %}

<div id="main">
    <div id="content">

        <h2>{{ data[1]}}</h2>
        <h3>subject {{data[4]}} </h3>
        <h3>{{data[3]}} </h3>

        <form action="/preview/{{data[1]}}/purchase_complete" , method="get">
            <input type="submit" value="BUY NOW">
        </form>

    </div>

</div>
{% endblock %}