{% extends "layout.html" %}


{% block head %}
<link rel="stylesheet" href="static/css/search.css">
{% endblock %}

{% block main %}
<div id="allresults">
    {% for item in data%}



    <div class="tile">

        <!-- <a href="/preview/{{ item[0] }}"> -->

            <form action="/preview" method="get">
                {% if item[6] == "1" %}
                <input type="hidden" name="note" value="{{item[0]}}">
                {% endif %}
                {% if item[6] == "2" %}
                <input type="hidden" name="package" value="{{item[0]}}">
                {% endif %}
                <input type="submit" value="" class="submit_note" style="display: none;">
            </form>

            <div class="singleresult">

                <div id="imagediv">
                    <img src="../static/thumpnails/{{item[0]}}.png" alt="image kanunilla" id="thumpnail">
                    
                </div>

                <div id="details">
                    <h4 class="title">{{item[1].upper()}}</h4>
                    <h4 class="text">{{ item[3] }}</h4>

                    <div class="publisher_details">
                        <img src="../static/profile_pics/{{item[4]}}.png" alt="" class="profile_pic">
                        <span class = "publisher_username">{{item[5]}}</span>
                    </div>

                    <div class="downdetails">
                        <h4 class="text">₹ {{ item[2] }}</h4>
                    </div>

                   
                    
                    <!-- <button id="view">VIEW</button> -->

                </div>


            </div>
        

        <!-- </a> -->
    </div>



    {% endfor %}
</div>

<footer id="pagechange">
    <div id="pagechangebox">

        {% if page != 1%}

        <form action="/search" method="GET" class="button">
            <input type="hidden" name="q" value="{{search}}">
            <input type="hidden" value={{page-1}} name="page">
            <input type="submit" value="Previous" } class="button">
        </form>

        {% endif %}

        {% for button in buttons[:-1] %}


        <form action="/search" method="GET">
            <input type="hidden" name="q" value="{{search}}">
            <input type="hidden" value={{button}} name="page">
            <input type="submit" value={{button}} class="button">
        </form>

        {% endfor %}



        {% if page+1 < last_page %} ... <form action="/search" method="GET" class="button">
            <input type="hidden" name="q" value="{{search}}">
            <input type="hidden" value={{last_page}} name="page">
            <input type="submit" value={{last_page}} class="button">
            </form>

            {% endif %}

            {% if page != buttons[-1] %}

            <form action="/search" method="GET" class="button">
                <input type="hidden" name="q" value="{{search}}">
                <input type="hidden" value={{page+1}} name="page">
                <input type="submit" value="NEXT" class="button">
            </form>

            {% endif %}



    </div>

</footer>

<!-- <script src="{{ url_for('static' , filename = 'js/search.js') }}"></script>    -->
<script>
    console.log("hiiii")
    let elements = document.getElementsByClassName("tile");

    Array.from(elements).forEach((element, index) => {
        let submit_button = element.getElementsByClassName("submit_note")[0];
        console.log(submit_button , index);
        element.addEventListener('click', () => {

            console.log("clicked")
            submit_button.click()

        })
    })

</script>


{% endblock %}