

{% extends "layout.html" %}


{% block head %}
<link rel="stylesheet" href="static/css/search.css">
{% endblock %}

{% block main %}
<div id="allresults"> 
    {% for item in data%}
    <div class="singleresult">

        <a href="/preview/{{ item[1] }}">{{item[1]}}</a>
        <h4>{{ item[2] }}</h4>
        <h4>{{ item[4] }}</h4>

    </div>
    {% endfor %}
</div>

<div id="pagechange">
    <div id="pagechangebox">

        {% if page != 1%}

        <form action="/search" method="GET" class="button">
            <input type="hidden" name="q" value="{{search}}">
            <input type="hidden" value={{page-1}} name="page">
            <input type="submit" value="Previous" }>
        </form>

        {% endif %}

        {% for button in buttons[:-1] %}


        <form action="/search" method="GET" class="button">
            <input type="hidden" name="q" value="{{search}}">
            <input type="hidden" value={{button}} name="page">
            <input type="submit" value={{button}}>
        </form>

        {% endfor %}



        {% if page+1 < last_page%} ... <form action="/search" method="GET" class="button">
            <input type="hidden" name="q" value="{{search}}">
            <input type="hidden" value={{last_page}} name="page">
            <input type="submit" value={{last_page}}>
            </form>

            {% endif %}

            {% if page != buttons[-1] %}

            <form action="/search" method="GET" class="button">
                <input type="hidden" name="q" value="{{search}}">
                <input type="hidden" value={{page+1}} name="page">
                <input type="submit" value="NEXT">
            </form>

            {% endif %}



    </div>

</div>

{% endblock %}