<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static' , filename = 'css/verifier.css') }}">
</head>

<body>

    <div id="main">

        {% for item in data %}

        <div id="singleitem">

            <img src="/static/thumpnails/{{item[0]}}.png" alt="thumpnail">

            <div id="details">
                <h3 id ="title">{{item[1]}}</h3>
                published by
                <h4 id="publisher">{{item[2]}}</h4>
            </div>

            <a href="/verifier/{{item[0]}}">REVIEW</a>

        </div>

        {% endfor%}

    </div>

</body>

</html>