
{% extends "layout.html" %}

    {% block head %}
   <!-- <link rel="stylesheet" href="url_for('static' , 'css/viewnote.css')"> -->
   <link rel="stylesheet" href="../static/css/viewnote.css">
   {% endblock %}
        
    
   {% block main %}
    <div id="viewer">        
        <!-- <embed src= " {{url_for('static' , filename = 'notes/haloalkanes.pdf')}} "  width="800px" height="800px" /> -->
        <embed src= "{{path}} "  width="800px" height="800px" />
    </div>
    {% endblock %}
    